<%- include('./partials/header') %>

<main>

<h1>Flavors for <%= iceCreams[0].brandName %></h1>
<div id='selector-flex'>

  <% let listOfFlavors = [] %>

  <% iceCreams.forEach(function(i) { %>
  <% if (!listOfFlavors.includes(i.flavorName)) { %>

  <form id="flavor-form" action="/flavors/<%= i.flavorName %>" method="GET">
    <input class='flavor-selector' type='submit' value='<%= i.flavorName %>' name='flavorName' style="background-image: url('<%= i.flavorImage %>')">
  </form>

  <% listOfFlavors.push(i.flavorName); %>
  <% } %>
  <% }); %>

</div>

</main>

<%- include('./partials/footer') %>