<%- include('./partials/header') %>

<h1>Brand Selector</h1>

<div id='selector-flex'>

  <% let listOfBrands = [] %>

  <% iceCreams.forEach(function(i) { %>
    <% if (!listOfBrands.includes(i.brandName)) { %>

      <form id="flavor-form" action="/brands/<%= i.brandName %>" method="GET">
        <button class='flavor-selector' type='submit' value='<%= i.brandName %>' name='brandName' style="background-image: url('<%= i.brandImage %>')"><%= i.brandName %></button>
      </form>

      <% listOfBrands.push(i.brandName); %>
    <% } %>
  <% }); %>

</div>

</body>

</html>