<%- include('./partials/header') %>

<h1>Ice Cream Comparison</h1>

<div id='selector-flex'>
  <% iceCreams.forEach(function(i) { %>
  <div id='individual-ice-cream'>
    <p id='edit'><a href="/iceCreams/<%= i._id %>">Edit</a></p>
    <a href="<%= i.url %>" target="_blank">
      <div class='ice-cream'>
        <img src='<%= i.image %>'>
      </div>
    </a>
    <p id='name'><%= i.name %></p>
    <p id='description'><span>Description:</span> <%= i.description %></p>
    <!--check if any ratings exist -->
    <% if (i.reviews.length) { %>
    <!--First let's set up a total variable -->
    <% let total = 0 %>
    <% i.reviews.forEach(function(r) { %>
    <!-- We'll aggregate the total ratings -->
    <% total += r.rating %>
    <% }) %>
    <% let avgRating = (total / i.reviews.length).toFixed(1) %>
    <div id='avg-rating'>
      <!-- create five stars in descending order -->
      <% for(j=5; j>0; j--) { %>
        <!-- only color them yellow if their value is less than or equal to user's rating -->
        <% if (j > avgRating) { %>
          <p value="<%= j %>"><i class="material-icons left">star</i></p>
        <% } else { %>
        <p value="<%= j %>"><i class="material-icons left filled">star</i></p>
      <% }} %>
      <p id='rating'><span>Average Rating:</span>
    </div>
    <% } else { %>
    <p id='rating'><span>Average Rating:</span> No Ratings Yet</p>
    <% } %>

    <!-- If logged in, add ability to add star rating -->
    <% if (user) { %>

      <!-- display user's rating if it already exists -->
      <!-- set reviewed boolean to false -->
      <% let reviewed = false %>
      <!-- loop through ice cream's reviews -->
      <% for (r of i.reviews) { %>
        <% console.log(r.reviewedBy._id) %>
        <% console.log(user._id) %>
        <!-- check is user has rated this ice cream -->
        <% if (r.reviewedBy._id == user._id.toString()) { %>
          <% console.log("user has reviewed this ice cream") %>
          <!-- display rating system with user rating already showing -->
          <p id='user-rating'><span>My Rating:</span>
          <!-- this is PUT form as it will update the user's existing rating -->
          <form id="rating-form" action="/reviews/<%= i._id %>/rating?_method=PUT" method="POST">
            <input type="hidden" name="reviewedBy" value="<%= user._id %>">
            <!-- create five stars in descending order -->
            <% for(j=5; j>0; j--) { %>
              <!-- only color them yellow if their value is less than or equal to user's rating -->
              <% if (j > r.rating) { %>
                <button type="submit" name="rating" value="<%= j %>"><i class="material-icons left">star</i></button>
              <% } else { %>
              <button type="submit" name="rating" value="<%= j %>"><i class="material-icons left filled">star</i></button>
            <% }} %>
          </form>
          <!-- set reviewed boolean to true and break out of function (no need to keep looping through reviews) -->
          <% reviewed = true; %>
          <% break %>
        <% }; %>
      <% }; %>

      <!-- if user has not reviewed this ice cream -->
      <% if (reviewed === false) { %>
        <!-- display rating system -->
        <p id='user-rating'><span>My Rating:</span>
        <!-- this is POST form as it will CREATE a user rating-->
        <form id="rating-form" action="/reviews/<%= i._id %>/rating" method="POST">
          <input type="hidden" name="reviewedBy" value="<%= user._id %>">
          <!-- create five stars in descending order -->
          <% for(j=5; j>0; j--) { %>
              <button type="submit" name="rating" value="<%= j %>"><i class="material-icons left">star</i></button>
            <% }; %>
        </form>
      <% }; %>
    <% }; %>



    <p id='review'><span>Reviews:</span></p>
      <% if (i.reviews.length) { %>
      <% i.reviews.forEach(function(r) { %>
        <% if (r.content) { %>
          <div id="selector-flex">
            <div id="review-box">

            <img src="<%= r.reviewedBy.avatarURL%>">
            <p id="reviewer-name"><%= r.reviewedBy.name%></p>
            <p><%= r.content %></p>

            </div>
          </div>
        <% } else { %>
          <%= "No Reviews Yet" %>
        <% } %>
      <% }) %>
      <% } else { %>
      <%= "No Reviews Yet" %>
      <% } %>
    

    <% if (user) { %>
      <form action="/reviews/<%= i._id %>" method="POST">
        <textarea rows="3" cols="48" name="content" placeholder="Add rating before writing review"></textarea>
        <input type="hidden" name="reviewedBy" value="<%= user._id %>">
        <input type="submit" id="addReviewBtn" value="Add Review">
      </form>
    <% } else { %>
      <form action="/auth/google" method="GET">
        <button type="submit" id="addReviewBtn">Login to Add Review</button>
      </form>
    <% } %>
  </div>
  <% }); %>
</div>

</body>

</html>