<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Ice Cream Selector</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <% if (user) { %>
          <a href='/logout'><i class="material-icons left">trending_flat</i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
        <% } %>
      </li>
    </ul>
  </nav>

  <h1>Ice Cream Comparison</h1>


  <% iceCreams.forEach(function(i) { %>
      <a href="<%= i.url %>">
        <div class='ice-cream'>
            <img src='<%= i.image %>'>
        </div>
      </a>
      <p><%= i.name %></p>
      <p>Description: <span> <%= i.description %></span></p>
      <p>Rating: <span> <%= i.rating %></span></p>
    <% }); %>

</body>
</html>